html
  head
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", type='text/css', rel='stylesheet', data-concat='false', data-remove='false')
    link(href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css", type='text/css', rel='stylesheet', data-concat='false', data-remove='false')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", type='text/css', rel='stylesheet', data-concat='false', data-remove='false')
    link(href="app.less", type='text/css', rel='stylesheet/less')

    script(src='bower_components/less.js/dist/less-1.6.2.js', data-concat='false')
    script(src='http://localhost:35729/livereload.js', data-concat='false')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='app.js')
  body
    .col-md-12
      .row
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              #logo
                img(src='/img/logo_small.png')
                h1 Barber 2 Beauty
                #tagline Cut. Curl. Connect.
            .navbar-right
              .nav.navbar-nav
                li: a.join-mailing-list(href='#email-box')
                  h2 Join the mailing list!
      .row.tippy
        .col-md-1
        .col-md-10
          .col-md-6
            h1 Find Your Barber
            h2 And Book Appointments On The Go
            p
              | Introducing Barber 2 Beauty &mdash; a revolutionary new service that lets you find barbers, book appointments, post reviews and share your experiences.
            #email-box
              h3 When can you create your Industry Profile?
              p
                | We are launching soon on Kickstarter!
                br
                | Sign up below to learn more.
                .input-group
                  input.form-control(type='text', placeholder='Enter your email')
                  a.input-group-addon.btn.btn-default Join
          .col-md-6.hidden-sm.hidden-xs
            // <img src="http://lorempixel.com/g/400/400/fashion"/>
            img.calendar(src='img/screenshot_calendar.jpg')
        .col-md-1
      .row
        .col-md-3
        .col-md-6
          h3.text-center.connect
            | Having a hard time finding a barber that you can trust? Now you don&apos;t have to. Barber 2 Beauty will connect you with the right professional.
        .col-md-3
      .row#video
      .row.shaded
        .col-md-2
        .col-md-3.feature-box
          .row
            .col-md-12
              h4.text-center Local Barbers
          .row
            .col-md-3
              img.razor(src='img/razor.svg')
            .col-md-9
              ul
                li Find a local barbers
                li Compare reviews
        .col-md-1
        .col-md-1
        .col-md-3.feature-box
          .row
            .col-md-12
              h4.text-center Connect
          .row
            .col-md-3
              i.fa.fa-comments.fa-fw.fa-4x
            .col-md-9
              ul
                li Ask a question
                li Connect with professionals
                li Share your experience
        .col-md-2
      .row.shaded
        .col-md-2
        .col-md-3.feature-box
          .row
            .col-md-12
              h4.text-center Nearby
          .row
            .col-md-3
              i.fa.fa-map-marker.fa-fw.fa-4x
            .col-md-9
              ul
                li Lorem ipsum dolor sit amet
                li Est ipsum, velit cumque
                li Expedita facilis, ipsa
                li temporibus facere laborum
        .col-md-1
        .col-md-1
        .col-md-3.feature-box
          .row
            .col-md-12
              h4.text-center Book Appointments
          .row
            .col-md-3
              i.fa.fa-calendar.fa-fw.fa-4x
            .col-md-9
              ul
                li Lorem ipsum dolor sit amet
                li Est ipsum, velit cumque
                li Expedita facilis, ipsa
                li temporibus facere laborum
        .col-md-2

      .row
        .col-md-3
        .col-md-6
          h3.text-center
            | You&apos;re next in line with a booked appointment!
        .col-md-3

    video(autoplay loop id='bgvid')
      source(src='img/shop.mp4', type='video/mp4')
